:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --grey-absent:#3a3a3c;
  --key-bg-darkmode:#818384;
  --key-bg:#d3d6da;
  --key-bg-absent:#787c7e;
  --white: #fff;
  --black: #212121;
  /* Colorblind colors */
  --orange: #f5793a;
  --blue: #85c0f9;
  --partialTile: darkslategrey;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1,
p {
  font-family: Lato;
}

#root {
  width: 100%;
  margin: 0 auto;
}
.game {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: black;
  border-bottom: 1px solid #3a3a3c;
}

.header[darkmode="true"] {
  color:#d7dadc
}

.title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}

.key {
  padding: 0;
  margin-top: 2px;
  font-family: inherit;
  font-weight: bold;
  
  height: 40px;
  width: 18%;
  border-radius: 4px;
  border-width: 1px;
  border-color: #d3d6da;
  cursor: pointer;
  user-select: none;
  background-color: #d3d6da;
  color: #1a1a1b;
  
  margin-left: 2px;
  
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.keyLast {
  width: 60px;
}

.key[key-state='green'] {
  background-color: var(--darkendGreen) !important;
  color: white;
  border-color: var(--darkendGreen);
}

.key[key-state='gray'] {
  background-color: var(--gray);
  color: white;
}

.key[key-state='yello'] {
  background-color: var(--darkendYellow) !important;
  color: white;
  border-color: var(--darkendYellow);
}

.key[key-state='green-partial'] {
  background-color: var(--darkendGreen) !important;
  color: white;
  border: none;
  border-color: -webkit-linear-gradient(
    -45deg,
    var(--darkendGreen) 50%,
    var(--partialTile) 50%
  );;
  background-image: -webkit-linear-gradient(
    -45deg,
    var(--darkendGreen) 50%,
    var(--partialTile) 50%
  );
}

.key[key-state='yello-partial'] {
  background-color: var(--darkendYellow) !important;
  color: white;
  border: none;
  border-color: -webkit-linear-gradient(
    -45deg,
    var(--darkendYellow) 50%,
    var(--partialTile) 50%
  );
  background-image: -webkit-linear-gradient(
    -45deg,
    var(--darkendYellow) 50%,
    var(--partialTile) 50%
  );
}

div {
  max-width: 600px;
  /* padding: 2px; */
}

.enterKey {
  margin-bottom: 2px;
  width: 100px;
  height: 40px;
  font-size: 16px;
}

.keyboard[won='true'] {
  pointer-events: none;
}

.keyboardRow {
  display: flex;
  justify-content: center;
}

.keyboardLastRow {
  display: flex;
  justify-content: space-evenly;
}

.tile[value='empty'] {
  border: 2px solid lightgray;
}

.tile[value='ணை'] {
  font-size: 1.2rem;
}
.tile[value='ணொ'] {
  font-size: 1.2rem;
}
.tile[value='ணோ'] {
  font-size: 1.2rem;
}
.tile[value='ணௌ'] {
  font-size: 1.2rem;
}

.tile[value]:not([value='empty']) {
  animation: zoom-in-zoom-out 0.3s;
}

.tile[color='green'] {
  color: white;
  border: none;
  animation-name: FlipInGreen !important;
  animation-duration: 500ms !important;
  animation-fill-mode: forwards !important;
}

.tile[color='gray'] {
  color: white;
  border: none;
  animation-name: FlipInGrey !important;
  animation-duration: 500ms !important;
  animation-fill-mode: forwards !important;
  
}

.tile[color='yello'] {
  color: white;
  border: none;
  animation-name: FlipInYellow !important;
  animation-duration: 500ms !important;
  animation-fill-mode: forwards !important;
}

.tile[color='yello-partial'] {
  color: white;
  border: none;
  animation-name: FlipInYellowPartial !important;
  animation-duration: 500ms !important;
  animation-fill-mode: forwards !important;
}

.tile[color='green-partial'] {
  color: white;
  border: none;
  animation-name: FlipInGreenPartial !important;
  animation-duration: 500ms !important;
  animation-fill-mode: forwards !important;
}

.tile {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: black;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid black;
}

.board {
  width: 300px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: auto;
}
.mainBoard[page='stats'] {
  opacity: 0.4;
}

.mainBoard[page='lost'] {
  opacity: 0.4;
}

.mainBoard[page='help'] {
  display: none;
}

.mainBoard[page='settings'] {
  display: none;
}
.mainBoard[page='won'] {
  opacity: 0.4;
}

.mainBoard[page='prevAns'] {
  opacity: 0.4;
}

.tile-row[length='4'] {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
}

.tile-row[length='3'] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}

.tile-row[length='5'] {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4px;
}

#help-button {
  box-shadow: 1px 1px;
  border: 1px;
  border-radius: 4px;
  margin-left: 10px;
  height: 30px;
}

#help-button:hover {
  transform: scale(1.2);
  color: black;
  border-color: black;
}

.dialog {
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: white;
  animation: SlideIn 100ms linear;
  z-index: 2000;
}

/* .statsDialog {
  position: absolute;
  max-width: 400px;
  width: 87%;
  height: 30%;
  top: 25%;
  margin: 10px;
  padding: 10px;

  justify-content: center;
  background-color: white;
  animation: SlideIn 100ms linear;
  box-shadow: 0px 1px 12px 3px #888888;
} */

.helpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: black;
}

.closeIcon {
  padding: 0 12px;
  cursor: pointer;
  font-size: 26px;
}

.closeIcon:hover {
  transform: scale(1.2);
}

.dialog[page='help'] {
  display: block;
  padding: 0 10px;
}

.dialog[page='settings'] {
  display: block;
  padding: 0 10px;
}

.dialog[page='stats'] {
  display: block;
  padding: 0 30px;
  height: 200px;
  margin: auto;
}

.helprow {
  width: 260px;
  height: 42px;
}

@keyframes SlideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes SlideOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1.06, 1.06);
  }
  50% {
    transform: scale(1.02, 1.02);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  border: 1px solid #f6f7f8;
  box-shadow: -1px -1px 15px;
  border-radius: 4px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  transform: scale(1.2);
  text-decoration: none;
  cursor: pointer;
}

#myModal[page='stats'] {
  display: block;
  padding-top: 90px;
}

#myModal[page='won'] {
  display: block;
}

#myModal[page='lost'] {
  display: block;
}
#myModal[page='prevAns'] {
  display: block;
  padding-top: 50px;
}

#myModal[page='game'] {
  display: hidden;
}

#myModal[page='feedback'] {
  display: block;
}

.share-button {
  background-color: var(--green);
  color: white;
  font-family: inherit;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border-color: var(--green);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  height: 52px;
  -webkit-filter: brightness(100%);
  padding-left: 5px;
  float: right;
}

.copySection {
  display: grid;
  /* justify-content: space-between; */
}

.timerSection {
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
}

.lastWordle {
  color: var(--darkendGreen);
  font-size: 20px;
  margin: 10px;
}

.timer {
  font-size: 36px;
  color: deeppink;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  border: #000;
  width: 300px;
  margin: auto;
}

.statsContainer > div {
  color: black;
  width: 100px;
  margin: 6px;
  text-align: center;
}

.statsValue {
  font-size: 32px;
}

.statsDesc {
  font-size: 12px;
}

.statsContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.statsContainer2 > div {
  color: black;
  width: 150px;
  margin: 10px;
  text-align: center;
}

.icon {
  margin-left: 10px;
  font-size: 26px;
  cursor: pointer;
  color: darkslategray;
}
.icon:hover {
  transform: scale(1.2);
}

.statsHeader {
  display: flex;
  justify-content: center;
}

/* .statsButton:hover {
  transform: scale(1.2);
  color: black;
  border-color: black;
} */

.menu {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  border: #000;
  justify-content: space-evenly;
}

.titleSubText{
  font-size: 8px;
  margin-top: -10px;
  letter-spacing: 0;
}

.tile[value='h'] {
  width:30px;
  height:30px;
  color: transparent;
}

.languageToggleButton {
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  border: none;
  position: fixed;
  top: 7px;
}

/* .tile[data-animation='flip-in'] {
  animation-name: FlipIn;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
} */
@keyframes FlipIn {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes FlipInGreen {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--darkendGreen);
  }
}

@keyframes FlipInYellow {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--darkendYellow);
  }
}

@keyframes FlipInGrey {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--darkGray);
  }
}

@keyframes FlipInGreyDarkMode {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--grey-absent);
  }
}

@keyframes FlipInYellowPartial {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
    background-image: -webkit-linear-gradient(
    -45deg,
    var(--darkendYellow) 50%,
    var(--partialTile) 50%
  );
  }
}

@keyframes FlipInGreenPartial {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
    background-image: -webkit-linear-gradient(
    -45deg,
    var(--darkendGreen) 50%,
    var(--partialTile) 50%
  );
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lightGray);
  padding: 16px 0;
}

.settingsTitle {
  font-size: 18px;
}
.settingsDescription {
  font-size: 12px;
    color: var(--gray);
}

.pipe {
  display: inline;
  margin: 5px;
}

.control {
  padding-right: 10px;
}

.header[darkmode="true"] {
  color:#d7dadc
}

.icon[darkmode="true"] {
  color:#d7dadc
}

.modal-content[darkmode="true"] {
  color:#d7dadc;
  background-color: #121213;
  border: 1px solid #888;
  box-shadow: none;
}

.statsContainer[darkmode="true"] > div {
  color:#d7dadc;
}

.statsContainer2[darkmode="true"] > div {
  color:#d7dadc;

}

.dialog[darkmode="true"] {
  color:#d7dadc;
  background-color: #121213;
}

.helpHeader[darkmode="true"] {
  color:#d7dadc;
}

.MuiSwitch-track, .css-1yjjitx-MuiSwitch-track {
  background-color: 'grey';
}

.tile[value='empty'][darkmode="true"] {
  border: 2px solid #3a3a3c;
}

.tile[darkmode="true"] {
  color: #d7dadc;
  border: 2px solid var(--darkGray);
}

.tile[darkmode="true"][color='green'] {
  border: none;
}
.tile[darkmode="true"][color='green-partial'] {
  border: none;
}
.tile[darkmode="true"][color='yello-partial'] {
  border: none;
}
.tile[darkmode="true"][color='yello'] {
  border: none;
}
.tile[darkmode="true"][color='gray'] {
  border: none;
  animation-name: FlipInGreyDarkMode !important;
}

.key[darkmode="true"] {
  background-color: var(--key-bg-darkmode);
}
.key[darkmode="true"][key-state='gray'] {
  background-color: var(--grey-absent);
  border-color: black;
}

.switchKey {
  background-color: #d7dadc;
  border-radius: 50px;
  margin-right: 10px;
}

a[darkmode="true"], a[darkmode="true"]:visited {
  color: #1976d2; 
}

a, a:visited {
  color: #1976d2;
}

.setting[darkmode="true"] {
  border-bottom: 1px solid var(--gray);
}

.tip {
  position: absolute;
}

.tipIcon {
  position: absolute;
  left: 285px;
  top: 20px;
}

.tipIcon:hover > body {
  opacity: 0.5;
}

.tipIcon[display="false"] {
  display: none;
}

.tipIcon[darkmode="true"] {
  color: #d7dadc;
}

.lostScreenWordle {
  font-size: 30px;
  display: inline;
  color: var(--green);
  font-weight: 700;
}

.statsBarContainer {
  width:80%;
  margin: auto;
}

.statsIndex {
  padding: 0px 6px;
  background: grey;
  font-weight: 700;
  color: #d7dadc;
  /* height:17px; */
} 

.statsBar {
  background: grey;
  /* height:13px; */
  padding-bottom: 4px;
  margin-left: 4px;
}

.statsBar[highlight="true"] {
  background: var(--green);
}

.statsIndex[highlight="true"] {
  background: var(--green);
}

.statsRow {
  /* color: white; */
  padding-bottom: 4px;
  display: flex;
}

.statsNumber {
  /* background: grey; */
  font-weight: 700;
  /* height: 17px; */
  padding: 0 5px;
  width: 0px;
}

div[role="tooltip"] {
  width: 300px;
}